---
title: Boost open source
pagina: Home
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en">
{% include head.html %}
<body>
<nav class="navlinks navbar navbar-fixed-top headroom headroom--pinned animated">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#about">
                <img class="top" src="logos/Fundrequest-title-white.png" alt="Fundrequest logo">
                <img class="scroll" src="logos/Fundrequest-title.png" alt="Fundrequest logo">
            </a>
        </div>

        <div class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right">
                <ul class="clock clock--header">
                    <li><h3>Token Sale:</h3></li>
                    <li><span class="days">--</span></li>
                    <li class="seperator">:</li>
                    <li><span class="hours">--</span></li>
                    <li class="seperator">:</li>
                    <li><span class="minutes">--</span></li>
                    <li class="seperator">:</li>
                    <li><span class="seconds">--</span></li>
                </ul>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<section id="about" class="header">
    <img src="assets/img/rect.png" alt="rectangles" class="rect">
    <div class="container">
        <div class="row js_row">
            <div class="col-md-4 col-md-push-7 tablet-hide">
                <div class="centerdiv">
                    <div class="center">
                        <img class="align-middle" src="assets/img/headerimg.png"
                             alt="A deventralized marketplace for open source collaboration">
                    </div>
                </div>
            </div>
            <div class=".col-sm-12 col-md-6 col-md-pull-4">
                <h1>
                    Token Sale
                </h1>
                <img class="hide tablet-show" src="assets/img/headerimg.png"
                     alt="A deventralized marketplace for open source collaboration">
                <div>
                    <ul class="clock">
                        <li><span class="days">--</span>
                            <p class="days_text">Days</p></li>
                        <li class="seperator">:</li>
                        <li><span class="hours">--</span>
                            <p class="hours_text">Hours</p></li>
                        <li class="seperator">:</li>
                        <li><span class="minutes">--</span>
                            <p class="minutes_text">Minutes</p></li>
                        <li class="seperator">:</li>
                        <li><span class="seconds">--</span>
                            <p class="seconds_text">Seconds</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="scrolltonext" href="#">
            <div class="scroller">
                <img src="assets/img/scroll2.png" alt="scroll image"> <br>
                <span>scroll</span>
            </div>
        </a>
    </div>
    <div class="triangle-bottom">
        <img src="assets/img/triangle-bottom.png" alt="">
    </div>

</section>

<section class="info">
    <div class="container">
        <h2>
            <small><i class="fas fa-info-circle"></i></small>
            Information
        </h2>
        <div class="row">
            <div class="col-md-10">
                <div><strong>10,800,000 FND</strong> for sale at a rate of <strong>1800 FND/ETH</strong></div>
                <div>For more info, see <a href="https://docs.fundrequest.io/display/PUB/Token+Sale" target="_blank">token
                    distribution</a>
                </div>
            </div>
        </div>

        <h2>
            <small><i class="far fa-list-alt"></i></small>
            Prerequisites
        </h2>
        <div class="row">
            <div class="col-md-10">
                <div>You must be whitelisted and have passed the KYC process.</div>
                <div>To check your status go to <a href="https://kyc.fundrequest.io" target="_blank">https://kyc.fundrequest.io</a>
                </div>
            </div>
        </div>


        <h2>
            <small><i class="far fa-calendar-alt"></i></small>
            Date
        </h2>
        <div class="row marginleft15">
            <div class="col-md-10">
                From February 12 at 10 AM CET (9 AM UTC), until February 14 at 10 AM CET (9 AM UTC)
            </div>

        </div>
        <p></p>

        <div title="Add to Calendar" class="addeventatc marginleft15">
            Add to Calendar
            <span class="start">02/12/2018 09:00 AM</span>
            <span class="end">02/14/2018 09:00 AM</span>
            <span class="timezone">UTC</span>
            <span class="title">FundRequest Token Sale</span>
            <span class="description">FundRequest Token Sale</span>
            <span class="location">https://fundrequest.io</span>
        </div>
    </div>
</section>


<section id="team" class="team">
    <img src="assets/img/section-5A.png" alt="" class="top">
    <img src="assets/img/section-5B.png" alt="" class="bottom">
    <div class="container">
        <div clas="row">
            <div class="col-md-6">
                <h2>Round 1</h2>
                The first 24 hours of the token sale will be individually capped with a minimum and maximum contribution
                per
                person.
                <ul>
                    <li>Minimum contribution : 0,01 ETH</li>
                    <li>Maximum contribution : 1 ETH</li>
                    <li>Gas Limit : TBD</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Round 2</h2>
                February 13 at 10 AM CET (9 AM UTC).
                The individual cap per person is lifted. It is now possible to contribute more than 1 ETH until the hard
                cap
                is reached.
                <ul>
                    <li>Minimum contribution : 0,01 ETH</li>
                    <li>Gas Limit : TBD</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="triangle-top">
        <img src="assets/img/triangle-top.png" alt="">
    </div>
    <div class="triangle-bottom">
        <img src="assets/img/triangle-bottom.png" alt="">
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="row">
            <div class="nopadding">
                <div class="col-sm-6 pad-0 border-r">
                    <h2>Build with</h2>
                    <img src="assets/img/civic.png" alt="Civic">
                    <img src="assets/img/IPFS.png" alt="IPFS"> <br>
                    <img src="assets/img/R.png" alt="R">
                </div>
                <div class="col-sm-6 pad-0 border-l">
                    <h2>Partners</h2>
                    <img src="assets/img/lendroid.png" alt="Lendroid">
                    <img src="assets/img/R.png" alt="R"> <br>
                    <img src="assets/img/dockio.png" alt="Dock.io">
                    <img src="assets/img/remote.png" alt="Remote">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-2 navlinks">
                <h2>Company</h2>
                <a href="https://fundrequest.io/#about">About</a>
                <a href="https://fundrequest.io/#roadmap">Roadmap</a>
                <a href="https://fundrequest.io/#team">Team</a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-2 col-md-push-1 navlinks">
                <h2>Resources</h2>
                <a target="_blank" href="https://fundrequest.io/whitepaper.pdf">Whitepaper</a>
                <a href="https://docs.fundrequest.io/display/PUB/">Documentation</a>
                <a target="_blank" href="https://blog.fundrequest.io/">Blog</a>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-md-push-4 center">
                <a class="marginR" target="_blank" href="https://github.com/fundrequest/">
                    <img src="assets/img/github.png" alt="Github">
                </a>
                <a class="margin" target="_blank" href="https://fundrequest.chat">
                    <img src="assets/img/text.png" alt="Text">
                </a>
                <a class="margin" target="_blank" href="https://twitter.com/fundrequest_io">
                    <img src="assets/img/twitter.png" alt="witter">
                </a>
                <a class="marginL" target="_blank" href="https://t.me/fundrequestofficial">
                    <img src="assets/img/mail.png" alt="Email">
                </a>
                <br>
                <a class="typeform-share link button" href="https://fundrequest.typeform.com/to/pu3EGe"
                   data-mode="drawer_right" data-hide-headers="true" data-hide-footer="true" data-submit-close-delay="1"
                   target="_blank">SUBSCRIBE TO NEWSLETTER</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="disclaimer">
                    <p>© 2018 FundRequest OÜ <br> Note by participating in our token sale you agree with our <a
                            href="assets/Terms-Conditions.pdf" target="_blank">terms and conditions</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid partnership-logos">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="partnership">
                        <ul class="js_horizontal">
                            <li>
                                <a target="_blank"
                                   href="https://www.chipin.com/fundrequest-ico-rewarding-contributions-crypto/">
                                    <img src="assets/img/chipin.png" alt="Chipin">
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="https://www.btc-echo.de/fundrequests-dezentrale-open-source-plattform/">
                                    <img src="assets/img/BTC.png" alt="Btc">
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="http://www.the-blockchain.com/2017/11/01/fundrequest-launches-blockchain-incentive-platform-open-source-projects/">
                                    <img src="assets/img/blockchainnews.png" alt="Blockchain">
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="https://www.cryptoninjas.net/2017/10/31/fundrequest-introduces-blockchain-incentive-platform-open-source-projects">
                                    <img src="assets/img/cryptoninjas.png" alt="Cryptoninjas">
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="http://www.chain-finance.com/2017/11/02/open-source-projects-incentivised-through-blockchain-platform/">
                                    <img src="assets/img/chainfinance.png" alt="Chainfinance">
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="http://www.the-blockchain.com/2017/11/01/fundrequest-launches-blockchain-incentive-platform-open-source-projects/">
                                    <img src="assets/img/blockchainnews.png" alt="Blockchain">
                                </a>
                            </li>
                            <li>
                                <a target="_blank"
                                   href="https://www.chipin.com/fundrequest-ico-rewarding-contributions-crypto/">
                                    <img src="assets/img/chipin.png" alt="Chipin">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triangle-top">
        <img src="assets/img/triangle-top.png" alt="">
    </div>
</section>
{% include footer.html %}
</body>
</html>
